:root {
    --transparent-bg: rgba(60, 60, 60, 0.4);
    --bulma-primary: hsl(171, 100%, 41%)
}

section {
    background-color: var(--transparent-bg);
    border-radius: 0 .25rem .25rem .25rem;
}

#nav-mobile {
    display: none;
}

.custom-btn {
    background-color: var(--transparent-bg);
    border: none;
}

.custom-btn:hover {
    background-color: rgba(60, 60, 60, 0.6);
}

.active {
    background-color: rgba(60, 60, 60, 0.8);
}

.hide {
    display: none !important;
}

@media screen and (max-width: 768px) {
    #nav-desktop {
        display: none;
    }

    #nav-mobile {
        display: inherit;
    }
}