:root {
    --transparent-bg: rgba(60, 60, 60, 0.4);
}

html {
    background-image: url(./images/mountaineers-5649828.jpg);
    background-size: cover;
    background-image: center;
}

h1 {
    font-stretch: extra-expanded; 
}

#form-group {
    border-radius: 5px;
    background-color: var(--transparent-bg);
    text-decoration-color: white;
}