:root {
    --transparent-bg: rgba(60, 60, 60, 0.4);
}

html {
    background-image: url(./images/mountaineers-5649828.jpg);
    background-size: cover;
    background-image: center;
    background-attachment: fixed;
}

body {
    font-family: 'Indie Flower', cursive;
}

#form-group, .tile-group {
    border-radius: 5px;
    background-color: var(--transparent-bg);
}

.modal-content {
    background-color: white;
    padding: 5px 10px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
}

#map {
    max-height: 360px;
    max-width: 480px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 5px;
}